<article class="post">
  <div class="title">
    Title: {{title}}
  
  </div>
  <div class="Content">
    {{content}} by {{user.username}} on {{created_at}}
    |
    <a href="/post/{{id}}"> Commnents: {{comments}} </a>
  </div>
</article>